<!doctype html>
<html >
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <title>simple navigation menu</title>
    </head>
    <p>Введите ваше имя : <input type = "text" ng-model = "name"></p>
    <p>Здравствуйте <span ng-bind = "name"></span>!<br>Cпасибо что посетили наш сайт.
    <br>На нашем сайте вы можете выбрать услуги по прейскуранту и сделать заявку</br></p>
  <body >
  <div id="main" ng-app >
    <nav class ="{{cssclass}}">
    <a href="#" class="home" ng-click="data='«ЛЕСОРУБ» – НАСТОЯЩИЙ БАРБЕРШОП. КАЧЕСТВО, ТРАДИЦИИ, СТИЛЬ.
Мы прививаем культуру правильных
мужских стрижек и уделяем большое
внимание к деталям.каждый современный мужчина, понимающий, что опрятный вид и ухоженная внешность являются неотъемлемыми атрибутами успешной личности.
Барбершоп — это больше мужской салон. Здесь можно не только с пользой провести время, но и получить удовольствие от обстановки, обслуживания и общения. Прохладительные напитки, горячий чай, ароматный кофе и легкие закуски будут предложены Вам, если Вы планируете продлить комфортное пребывание в студии. Истинных ценителей мы угощаем качественным кальяном.
Если Вы поклонник компьютерных или настольных игр, то Вы без труда найдете себе напарника среди наших гостей. Мы постарались обеспечить Вас всем необходимым, чтобы скрасить ожидание или разнообразить скучные однообразные вечера.
В нашей команде работают лучшие барберы “Южной Столицы”. Профессиональная стрижка волос, укладка, стрижка усов и бороды главная и основная задача наших мастеров, их технология выполнения каждого движения доведена до совершенства. Не ограничиваясь только стрижкой, мы включили в нашу задачу проработку Вашего индивидуального образа. Учитывается все, характер, гардероб, привычки, особенности профессии и род занятий. Наши специалисты могут дать Вам советы по подбору стиля, по уходу за лицом, телом и волосами.
Мы помогаем Вам найти себя и полюбить жизнь!';active=true;cssclass='home'">Home</a>
    <a href="#" class="masters" ng-click="data='img ';active=true;cssclass='masters'">Macters</a>
    <a href="#" class="services" ng-click="data='- СТРИЖКА...............4000 тг
    - ДЕТСКАЯ СТРИЖКА (до 13 лет)........................................2500 тг
    - СТРИЖКА МАШИНКОЙ....................................................3000 тг
    - СТРИЖКА БОРОДЫ И УСОВ...............................................2000 тг
    - СТРИЖКА + БРИТЬЁ.....................................................5000 тг
    - КОРОЛЕВСКОЕ БРИТЬЁ...................................................4000 тг
    - ОТЕЦ + СЫН...........................................................6000 тг
    - ОКАНТОВКА............................................................1000 тг
    - СКРАБ + МАССАЖ........................................................1500 тг
    - КАМУФЛЯЖ БОРОДЫ И СЕДИНЫ...............................................2000 тг';active=true;cssclass='services'">Services</a>
    <a href="#" class="about" ng-click="data=' первый, кто решился нарушить все стереотипы и совместить в одном месте
барбершоп и салон для мужчин - здесь одинаково хорошо разбираются в стильных и
классических стрижках, мастерски орудуют опасной бритвой, а также придают вашему
лицу свежий и ухоженный вид с помощью косметических процедур для лица и волос.

Наш барбершоп это не только дань моде, это возрождение традиций закрытого клуба для
настоящих мужчин, где ценят безукоризненное качество стрижки и бритья, крепкие
напитки и ненавязчивое общение.';active=true;cssclass='about'">About </a>
    <a href="#" class="contact" ng-click="data='Контакты
Адрес: г. Алматы, ул. Фурманова 244
Телефон: +7 701 277 66 88 
E-mail: info@hunterbarbershop.kz';active=true;cssclass='contact'">Contact</a>
      </nav>
    <p ng-hide="active">Click up</p>
      <p ng-show="active">{{data}}</p>
    </div> 
     </body>
</html>

